---
layout: default
header_image: "/assets/images/bg/about-bg.jpg"
title: "About Us"
---

{% include page_header.html %}
<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-img">
					<img src="{{'/assets/images/about/about.jpg' | relative_url}}" alt="" class="img-fluid w-100"/>
					<div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<span style="font-size: 30px;"  class="text-color h5 text-uppercase">WHAT MAKES US</span>
				<br>
				<br>
				<p style="font-size: 17px;">At blackdesert.es, we’re passionate about technology and stay ahead of the curve by focusing on the products we use daily.
					<br>
					<br>

					Our guides, blog articles, comparisons and various other content and tools help us deliver the latest insights to our readers.</p>
				
				<a href="#" class="btn btn-primary">Purchase now</a>
			</div>
		</div>
	</div>
</section>
<!-- About End -->


<!-- Testimonial Start -->
<section class="section testimonial position-relative bg-2 overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<span class="h5 text-color text-uppercase">
					Team
				</span>
				<h3 class="mb-5 mt-2">MEET OUR TEAM</h3>
			</div>
		</div>

		<div class="row testimonial-slider">
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/team-4-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Ashley R. Benoit has exceptional programming and problem-solving skills, able to identify and create simple and efficient solutions to complicated issues. Ashley joined our team full-time in early 2018 and has since served as our lead technical development specialist.
						<br>
						<br>
						Ashley R. Benoit is our in-house developer responsible for bespoke build tasks and hand-coding systems. Additionally, Ashley monitors our servers and security systems to ensure optimal performance.</p>
					<h5 class="mb-0 mt-2">Ashley R. Benoit</h5>
					<span class="text-color">LEAD DEVELOPER</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/team-2-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Corey M. Fox is excited about what SEO has to offer. His favorite things to do are to perform keyword research and technical analyses to identify content opportunities and conducts website audits to make sure that nothing on a our website could be hindering its SEO success</p>
					<h5 class="mb-0 mt-2">Corey M. Fox</h5>
					<span class="text-color">SEO & STRATEGY</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/team-1-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Anthony C. Petrella is the in-house implementation expert. Anthony is a Python programmer who enjoys tinkering with data. He also has enough knowledge of front-end design to do effective split testing.
						<br>
						<br>

						He has almost a decade of expertise using SEO, SEM, paid marketing, and conversion testing to increase sales, leads, and overall business success. He’s also a specialist in Google Analytics and related online metrics technologies. He is a passionate outdoor explorer who can be found trekking, climbing, or surfing when he is not at work.</p>
					<h5 class="mb-0 mt-2">Anthony C. Petrella</h5>
					<span class="text-color">WEB ANALYTICS</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/team-3-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Christine usually collaborates with us remotely, but she is always available through email.
						<br>
						<br>
						Christine creates content strategy plans with the design and development team and works with us to extract the essentials before writing top-notch, search engine-friendly copy that is both informative and easy to read.</p>
					<h5 class="mb-0 mt-2">Christine K. Draves</h5>
					<span class="text-color">COPYWRITER</span>
				</div>
			</div>
			
</section>
<!-- Testimonial End -->
<!-- Clients Start -->
<section class="section-sm">
	<div class="container">
		<div class="row clients-wrap">
            <h4>FEATURED ON</h4>
			<div>
				<img src="{{'/assets/images/clients/hubspot-1.svg' | relative_url}}" alt="" width="150px" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/guardian-1.svg' | relative_url}}" alt="" width="150px" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/wired-1.svg' | relative_url}}" alt="" width="150px" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/forbes-1.svg' | relative_url}}" alt="" width="150px" class="img-fluid mx-auto">
			</div>
			
		</div>
	</div>
</section>
<!-- Clients End -->
<!-- Testimonial Start -->
{% include testimonials_2.html %}
<!-- Testimonial End -->
<br>
<br>
{% include count_down_2.html %}



